api:
  build: ./api
  volumes:
    - ./api:/src
  ports:
    - "3001:3001"
  links:
    - mongodb
    - redis
  command: [nodemon, start]
mongodb:
  image: mongo:3
  volumes:
    - ./runtime/mongo:/data/db
  ports:
    - "27017:27017"
rockmongo:
  image: webts/rockmongo
  links:
    - mongodb:db
  ports:
    - "8081:80"
docs:
  image: swaggerapi/swagger-ui:latest
  ports:
    - "8080:8080"
  environment:
    API_URL: http://localhost:3001/swagger/docs/api.json
redis:
    image: redis:3
    volumes:
        - ./runtime/redis:/data
    ports:
        - 6379:6379
redisCommander:
    image: tenstartups/redis-commander
    command: --redis-host redis
    links:
      - redis:redis
    ports:
      - "8095:8081"
